.footer {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  color: #545454;
  margin-bottom: 60px;
}

.footer__copyright {
  margin: 67px 0 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin: 48px 19px -24px;
    max-width: 282px;
  }
}
