.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal_opened {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  margin: auto;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  width: 430px;
  height: 330px;
}
.modal__close {
  background: url(../images/close-icon.svg) center no-repeat;
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  top: -40px;
  right: -45px;
  width: 40px;
  height: 40px;
  padding: 0;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  position: absolute;
  max-width: 330px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 0 54px 36px;
}

.modal__form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: auto;
  max-width: 358px;
  row-gap: 30px;
  margin-top: 111px;
}

.modal__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  height: 27px;
}

.modal__button {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  height: 50px;
  padding: 0;
  cursor: pointer;
  margin-top: 18px;
  transition: opacity 0.5s linear;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__image {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.modal__preview {
  position: relative;
  max-width: 80%;
}
.modal__close-preview {
  background: url(../images/close-icon.svg) center no-repeat;
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  top: -40px;
  right: -45px;
  width: 40px;
  height: 40px;
  padding: 0;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-caption {
  background-color: transparent;
  color: #fff;
  max-width: 291px;
  max-height: 12px;
  font-size: 12px;
  line-height: 14.5px;
  font-weight: 400;
  margin: 0;
  margin-top: 10px;
}

@media screen and (max-width: 563px) {
  .modal__container {
    max-width: 282px;
    height: 322px;
  }

  .modal__heading {
    max-width: 238px;
    margin: 25px 22px 75px;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }

  .modal__form {
    max-width: 238px;
  }

  .modal__name {
    height: 27px;
    padding: 0;
  }

  .modal__input {
    height: 27px;
    padding: 0;
  }
  .modal__button {
    min-width: 238px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal__close {
    width: 31px;
    height: 30px;
    right: 0px;
  }

  .modal__close-preview {
    width: 31px;
    height: 30px;
    right: 0px;
  }
}

@media screen and (max-width: 320px) {
  .modal__close-preview {
    background: url(../images/close-icon-small.svg) center no-repeat;
    width: 26px;
    height: 26px;
    top: -26px;
    right: -26px;
  }
}

.modal__image-caption {
  max-width: 240px;
}
