.page {
  background-color: #000000;
  color: #ffffff;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
  max-height: 1217px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
}

.page__section {
  width: 100%;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 880px;
  min-height: 100vh;
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    margin: auto;
  }

  .page__content {
    max-width: 320px;
    margin-top: 28px;
  }
}
